body {
    background-image: url("/assets/images/grad_img.png");
    background-size: 45rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}